<ion-view title="About this app">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        Created by:<br/>
        Kylie Streed and Nathan Walker
      </div>
      <div class="item item-text-wrap">
        A very special thank you to the incredibly wonderful people behind the <a href="" ng-click="openLink('http://www.mddsfoundation.org/')">MdDS Foundation</a>.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        A word from Kylie
      </div>
      <div class="item item-text-wrap">
        Our goal in building this app is to have one resource that contains all of the information out there about MdDS. Like many of you, I've suffered from this debilitating condition for years. My hope is that together, we can raise awareness, cultivate support, and continue to survive and even thrive despite our health obstacles.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        A word from Nathan
      </div>
      <div class="item item-text-wrap">
        I'm a software developer in Portland, OR. After meeting Kylie, I became immediately compelled to help bring to light this rare condition, of which I was not previously familiar. I witnessed my mother suffer from Vertigo years ago and my heart goes out to anyone suffering from a balance impairing condition such as MdDS. I hope this app can help bring together all the resources surrounding this condition in one simple easy-to-use location so anyone with a loved one struck with this condition may learn more about it, in addition to finding ways to reach out and help by donating to the MdDS Foundation.
      </div>
    </div>

  </ion-content>
</ion-view>
