<ion-view title="Donate">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        MdDS Foundation
      </div>
      <div class="item item-text-wrap">
        The MdDS Balance Disorder Foundation is an all-volunteer 501(c)(3) nonprofit foundation. The Foundation promotes international awareness of Mal de Débarquement Syndrome (MdDS) while advocating for those living with MdDS and seeking treatments and a cure for people suffering from this rare neurological disorder.
        <br/><br/>
        Please visit the <a href="" ng-click="$root.openLink('http://www.mddsfoundation.org/')">MdDS Foundation here</a> where donations can be made.
      </div>
      <div class="item item-divider">
        Mission Statement
      </div>
      <div class="item item-text-wrap">
        The mission of the MdDS Balance Disorder Foundation is to promote education and research on Mal de Débarquement Syndrome (MdDS), a rare and poorly understood disorder of perceived motion.
        <br/><br/>
        <strong>Goals:</strong>
      </div>
      <ul class="list"><li class="item item-text-wrap">To provide <a href="" ng-click="changeState('/support')">support</a> and education for patients and families of those with this rare balance disorder</li>
      <li class="item item-text-wrap">To facilitate clinical studies designed to improve the diagnosis and treatment of MdDS
      <li class="item item-text-wrap">To promote basic and clinical research to better understand the cause(s) of this unique syndrome</li>
      <li class="item item-text-wrap">To collect, collate, and distribute demographic and other information from those with MdDS via online surveys (at present, our findings represent the world’s largest available database of results about this patient population)</li>
      <li class="item item-text-wrap">To update professionals who provide medical care and treatment of MdDS patients</li>
      </ul>

      <div class="item item-text-wrap">
        Tax-deductible contributions are used only to accomplish these goals. The overhead cost to accomplish our efforts was less than 4% in 2012 and is budgeted to remain at this level in 2013. The generosity of donors is absolutely vital as we steadfastly work toward Foundation goals.
      </div>
    </div>
  </ion-content>
</ion-view>
