<ion-view title="Forum">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Coming Soon ...
      </div>
      <div class="item item-text-wrap">
        Hopefully will be a place where questions could be posted and potentially doctors could respond or simply an open forum with those involved in the foundation.
      </div>
    </div>
  </ion-content>
</ion-view>
