<ion-view title="Learn">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="summary">
      <strong>MdDS</strong> (Mal de debarquement, or disembarkment syndrome) is a rare condition usually occurring after a cruise, aircraft flight, or other sustained motion event. It has only recently received attention and very little scientific research has been conducted. Explore these resources to learn more.
    </div>
    <ion-list>
      <ion-item ng-repeat="res in resources" href="#/app/learn/{{res.id}}">
        {{res.title}}
      </ion-item>

      <div class="list card">

        <div class="item item-divider">
          <i class="icon ion-checkmark-circled"></i>
            Symptoms
          </div>
          <div class="item item-text-wrap">
            Symptoms usually begin shortly after the cessation of the motion stimulus and are often increased when in an enclosed space or when attempting to be motionless (sitting, lying down, or standing in a stationary position). The motion sensation may seem to disappear when in passive motion such as in a moving car, airplane, or train.
          </div>
      </div>
      <div class="list card">

        <div class="item item-divider">
          <i class="icon ion-help-buoy"></i>
            Coping
          </div>
          <div class="item item-text-wrap">
            <ul class="list"><li class="item">Have the fluorescent lights above your work area disconnected. Use incandescent table-top lamps instead. In fact, if you have fluorescent lights in your kitchen, bathroom or other rooms in your house, you may want to consider switching them out.</li>
            <li class="item">Ask your employer for a LCD flat screen monitor, which do not flicker like the traditional CRT monitors. If you cannot get a LCD monitor, try a screen filter, available in most office supply stores.
            <li class="item">Make sure your monitor is at the proper height. The middle of the screen should be at eye level when you’re sitting up straight. You don’t want to slouch in your chair or have to look down to view the screen. There are many types of stands available at most office supply stores to raise up your monitor.</li>
            <li class="item">Several Support Group members recommend f.lux, which adjusts your monitor’s light/color output. It’s free here.</li>
            <li class="item">Use a speaker phone or headset for hands-free use. Do not rest the phone between your ear and shoulder.</li>
            <li class="item">Have rails put along side of all stairs and if necessary, in the shower/tub.</li>
            <li class="item">Pay bills via telephone or on-line banking.</li>
            <li class="item">Do not stand on stepstools, chairs, ladders; have someone else reach/clean all high areas.</li></ul>
          </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
