<ion-view title="Learn">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="summary">
      <strong>MdDS</strong> (Mal de debarquement, or disembarkment syndrome) is a rare condition usually occurring after a cruise, aircraft flight, or other sustained motion event. It has only recently received attention and very little scientific research has been conducted. Explore these resources to learn more.
    </div>
    <ion-list>
      <ion-item ng-repeat="res in resources" href="#/app/learn/{{res.id}}">
        {{res.title}}
      </ion-item>

      <div class="list card">

        <div class="item item-divider">
          <i class="icon ion-checkmark-circled"></i>
            Symptoms
          </div>
          <div class="item item-text-wrap">
            Symptoms usually begin shortly after the cessation of the motion stimulus and are often increased when in an enclosed space or when attempting to be motionless (sitting, lying down, or standing in a stationary position). The motion sensation may seem to disappear when in passive motion such as in a moving car, airplane, or train.
          </div>
      </div>
      <div class="list card">

        <div class="item item-divider">
          <i class="icon ion-help-buoy"></i>
            Coping
          </div>
          <ul class="list"><li class="item item-text-wrap">Have the fluorescent lights above your work area disconnected. Use incandescent table-top lamps instead. In fact, if you have fluorescent lights in your kitchen, bathroom or other rooms in your house, you may want to consider switching them out.</li>
          <li class="item item-text-wrap">Ask your employer for a LCD flat screen monitor, which do not flicker like the traditional CRT monitors. If you cannot get a LCD monitor, try a screen filter, available in most office supply stores.</li>
          <li class="item item-text-wrap">Make sure your monitor is at the proper height. The middle of the screen should be at eye level when you’re sitting up straight. You don’t want to slouch in your chair or have to look down to view the screen. There are many types of stands available at most office supply stores to raise up your monitor.</li>
          <li class="item item-text-wrap">Several Support Group members recommend f.lux, which adjusts your monitor’s light/color output. It’s free here.</li>
          <li class="item item-text-wrap">Use a speaker phone or headset for hands-free use. Do not rest the phone between your ear and shoulder.</li>
          <li class="item item-text-wrap">Have rails put along side of all stairs and if necessary, in the shower/tub.</li>
          <li class="item item-text-wrap">Pay bills via telephone or on-line banking.</li>
          <li class="item item-text-wrap">Do not stand on stepstools, chairs, ladders; have someone else reach/clean all high areas.</li></ul>
      </div>

      <div class="list card">

        <div class="item item-divider">
        <i class="icon ion-medkit"></i>
          Diagnosis &amp; Treatment
        </div>
        <div class="item item-text-wrap">
          Many health care providers still do not know about MdDS. It is sometimes helpful to bring along a Foundation brochure, available in the <a href="" ng-click="$root.openLink('http://www.mddsfoundation.org/library/')">Library</a> or via <a href="mailto:mddsfoundation@yahoo.com">request</a>.
          <br/><br/>
          <strong>Presently, there are no tests that can provide a definitive diagnosis of MdDS.</strong> However, your doctor will probably want to rule out other disorders that may have similar symptoms. MdDS is primarily diagnosed using patient history (such as a recent boat, air or train travel or other motion experience) and the elimination of other disorders which may have similar symptoms.
          <br/><br/>
          There is no known cure for MdDS and the cause is unknown. It is common for test results to be entirely normal for people suffering with MdDS. Because of this, many patients commonly go undiagnosed or are misdiagnosed. Consult your physician to determine which tests are best for you. Tests used to exclude other disorders may include the following:
        </div>

          <ul class="list"><li class="item item-text-wrap">Neurological examination</li>
          <li class="item item-text-wrap">ENG test (electronystagmography)</li>
          <li class="item item-text-wrap">Rotary chair test</li>
          <li class="item item-text-wrap">Caloric Stimulation</li>
          <li class="item item-text-wrap">Audiogram</li>
          <li class="item item-text-wrap">Blood tests (CBC, blood glucose, vitamin B12)</li>
          <li class="item item-text-wrap">Blood tests for autoimmune disorders that may involve the ear:
            <ul class="list">
              <li class="item item-text-wrap">ANA (anti-nuclear antibodies)</li>
              <li class="item item-text-wrap">TSH (thyroid stimulating hormone)</li>
              <li class="item item-text-wrap">anti-microsomal antibodies</li>
              <li class="item item-text-wrap">anti-cochlear antibodies</li>
              <li class="item item-text-wrap">HLA-DR determinations</li>
            </ul>
          </li>
          <li class="item item-text-wrap">MRI of the brain and/or MRA of the brain stem and neck</li>
          <li class="item item-text-wrap">ECOG – if hearing is abnormal</li>
          <li class="item item-text-wrap">Posturography</li>
          <li class="item item-text-wrap">High resolution cat scan to rule out small fistulas or superior canal dehiscence syndromes, especially if history of barotrauma.</li>
          <li class="item item-text-wrap">Optokinetic after-nystagmus: scroll down to the "Additional Applications" section in <a href="" ng-click="$root.openLink('http://emedicine.medscape.com/article/1832765-overview#a30')">Applications of the Rotational Chair</a></li>
        </ul>

        <div class="item item-text-wrap">
          While there is no known cure for MdDS, some success in managing symptoms has been realized with medications and vestibular rehabilitation.
        </div>
        <ul class="list">
          <li class="item item-text-wrap">Most anticholinergeric medications that work for other forms of dizziness and motion sickness, such as meclizine or scopolamine, are <strong>not</strong> effective in either treatment or prevention of MdDS.</li>
          <li class="item item-text-wrap">There is <a href="" ng-click="$root.openLink('http://www.mddsfoundation.org/wp-content/uploads/2012/04/2008_MdDS_Medication.pdf')">evidence</a> that klonopin, benzodiazepines and amitriptyline may have beneficial effects in the treatment of MdDS.</li>
          <li class="item item-text-wrap">Many patients have reported a benefit from <a href="" ng-click="$root.openLink('http://www.mddsfoundation.org/wp-content/uploads/2012/07/2008_MdDS_Therapy.pdf')">vestibular therapy and exercise.</a></li>
        </ul>
      </div>

      <div class="list card">

        <div class="item item-divider">
          <i class="icon ion-close-circled"></i>
            Prevention
          </div>
          <div class="item item-text-wrap">
            There is no known clinical study regarding the prevention of MdDS. Medication such as with benzodiazepines might be tried prior to the motion experience if the disorder is related to inappropriate vestibular adaptation. For persons with a history of MdDS, it is suggested that they avoid further exposure to rocking motion experiences, as many patients have reported reoccurrences.
            <br/><br/>
            Members of the <a href="" ng-click="changeState('/support')">MdDS Support sites</a> also suggest reducing stress and being well rested prior to travel. EarPlanes&reg;, a type of ear plug found in most pharmacies, is also used by some members when flying. Refer to the <a href="" ng-click="$root.openLink('http://www.mddsfoundation.org/coping-with-mdds/')">How to Cope section</a> for more tips on travel.
          </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
