<ion-view title="Support Groups">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="card">
    <div class="item item-text-wrap">
      If you have been diagnosed or suspect that you have MdDS or Disembarkment Syn­drome, sign up for free member­ship in our private support groups. Two online support groups have been established for people who are interested in discussing MdDS. You may search and review thousands of messages from those who suffer from MdDS. There, you will find caring people who understand what it is like to live with this rare disorder; members are from all over the world. <strong>Please join us to share and learn from others.</strong>
    </div>
  </div>

    <div class="card">
      <div class="item item-divider">
        Yahoo! Support Group
      </div>
      <div class="item item-text-wrap">
        There are two ways to join this private group:
      </div>
      <ul class="list">
        <li class="item item-text-wrap">Send an email addressed to: <a href="mailto:mdds_support-subscribe@yahoogroups.com">mdds_support-subscribe@yahoogroups.com</a></li>
        <li class="item item-text-wrap">Go to the support group’s home page <a href="" ng-click="$root.openLink('http://health.groups.yahoo.com/group/mdds_support/')">here</a> and click on the link, "Join This Group!"</li>
      <ul>
      <div class="item item-text-wrap">
        Please note, there is an underscore ‘_’ between mdds and support in the above addresses. It is a required part of the email and URL addresses.
      </div>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        MdDS Friends on Facebook
      </div>
      <div class="item item-text-wrap">
        Maintained separately from the public page (<a href="" ng-click="$root.openLink('http://www.facebook.com/mddsfoundation.org')">facebook.com/mddsfoundation.org</a>), the MdDS Friends page is a Closed Group and access is by invitation only.
        <br/><br/>
        To request an invitation to the Closed Group, you must have a Facebook profile.<br/><br/>
        1. Log into your Facebook account.<br/>
        2. Send a Friend Request
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        These two groups are managed by the <a href="" ng-click="changeState('/donate')">MdDS Foundation</a> and are for the sole purpose of discussing Mal de Debarquement Syndrome and related issues. Bulk emails and spam will not be tolerated and persons posting such items will be banned from the group. Members of the groups are not permitted to give out member addresses to third parties under any circumstances.
      </div>
    </div>
  </ion-content>
</ion-view>
